<header>
  <a class="icon" [routerLink]="['/']" title="LimeHome"></a>
  <a class="nav-trigger"></a>
</header>

<agm-map [latitude]="marker.lat" [longitude]="marker.lng" [zoom]="zoom" [disableDefaultUI]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker [latitude]="marker.lat" [longitude]="marker.lng"
    [markerDraggable]="marker.draggable" (dragEnd)="markerDragEnd($event)">
  </agm-marker>

  <agm-marker *ngFor="let hotel of hotels; let i = index" [latitude]="hotel.lat"
    [longitude]="hotel.lng" [markerDraggable]="hotel.draggable" [iconUrl]="hotel.icon">
  </agm-marker>

</agm-map>

<div class="slider">
  <div class="hotels-list">
    <div class="hotel-item" *ngFor="let hotel of hotels; let i = index">
      <div class="content">
        <div class="image">
          <img src="assets/thumb.jpg" alt="" />
        </div>
        <div class="information">
          <h3>{{hotel.data.title}}</h3>
          <div class="distance">3.4 KM from city center</div>
          <div class="price">€98</div>
          <div class="description">Designs may vary</div>
        </div>
      </div>
      <a class="book-button" (click)="openModal(hotel)">Book</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>


<lime-modal id="custom-modal-1">

  <a class="close-btn" (click)="closeModal('custom-modal-1');">X</a>

  <div>
    <form class="form-base" (submit)="submitBookingForm()" [formGroup]="bookingForm">

      <div class="title">
        ‌Book {{bf.hotel.value}}
      </div>

      <div *ngIf="showSuccess">
        <div class="message" role="alert">
          you have successfullly booked {{bf.hotel.value}} <br />
          your order number is : #123456
        </div>
        <br />
      </div>

      <div *ngIf="!showSuccess">

        <div class="form-elm">
          <input type="text" [ngClass]="{'invalid': (bookingFormSubmitted || bf.hotel.touched) && bf.hotel.errors}"
            formControlName="hotel" placeholder="Hotel Name" required tabindex="1" autocomplete="off" />
        </div>

        <div class="form-elm">

          <input type="text" [ngClass]="{'invalid': (bookingFormSubmitted || bf.name.touched) && bf.name.errors}"
            formControlName="name" placeholder="Name" required tabindex="2" autocomplete="off" />

          <input type="text"
            [ngClass]="{'invalid': (bookingFormSubmitted || bf.lastName.touched) && bf.lastName.errors}"
            formControlName="lastName" placeholder="LastName" required tabindex="3" autocomplete="off" />
        </div>

        <div class="form-elm">
          <input type="text" [ngClass]="{'invalid': (bookingFormSubmitted || bf.email.touched) && bf.email.errors}"
            formControlName="email" placeholder="Email Address" tabindex="4" autocomplete="new-email" />
        </div>

        <div class="form-elm">

          <div class="input-group">
            <label for="from">From Date</label>
            <input type="date" id="from"
              [ngClass]="{'invalid': (bookingFormSubmitted || bf.from.touched) && bf.from.errors}"
              formControlName="from" required tabindex="5" autocomplete="off" />
          </div>

          <div class="input-group">
            <label for="to">To Date</label>
            <input type="date" id="to" [ngClass]="{'invalid': (bookingFormSubmitted || bf.to.touched) && bf.to.errors}"
              formControlName="to" required tabindex="6" autocomplete="off" />
          </div>

        </div>

        <button type="submit" class="submit" tabindex="7">Book Now</button>

      </div>

    </form>
  </div>

</lime-modal>
